body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0e2433;
    color: white;
    text-align: center;
}

.wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333; /* Text color for content within the wrapper */
}

h1 {
    color: #333;
}

/* Adjustments for the reservation form inputs and layout */
.form-group, #reservationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between form elements */
    margin-top: 20px;
}

.form-group label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: #333; /* Ensures visibility against the light background */
}

.form-group input[type="text"], .form-group input[type="datetime-local"], .form-group input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%; /* Responsive width */
    max-width: 300px; /* Maximum width to maintain aesthetics */
}

.btn {
    margin-top: 20px; /* Adds space between the button and the last form input */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

/* Additional styles for form elements */
input[type="submit"] {
    background-color: #007bff; /* Match button styles */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
